In [4]:
import pandas as pd

df_raw = pd.read_csv('./data_raw/nofetal2020.csv', sep=',', encoding='latin-1')
df_raw

,COD_DPTO,COD_MUNIC,A_DEFUN,SIT_DEFUN,OTRSITIODE,TIPO_DEFUN,ANO,MES,HORA,MINUTOS,...,C_MUERTEB,C_MUERTEC,C_MUERTED,C_MUERTEE,ASIS_MED,CAUSA_MULT,C_BAS1,CAUSA_667,IDPROFCER,CAU_HOMOL
0,15,238,1,1,NaN,2,2020,11,7,41,...,1.0,NaN,NaN,NaN,1,J960/U071,U071,109,1,10
1,15,238,1,1,NaN,2,2020,11,21,43,...,1.0,NaN,NaN,NaN,1,C750/C793 C780,C750,214,1,32
2,15,238,1,3,NaN,2,2020,11,14,30,...,1.0,NaN,1.0,NaN,1,I469/J960/C780/C189,C189,202,1,14
3,5,88,1,1,NaN,2,2020,11,10,20,...,1.0,NaN,NaN,NaN,1,J960/R688/K922/D374*C169,D374,215,1,37
4,5,88,1,3,NaN,2,2020,11,23,20,...,NaN,NaN,1.0,NaN,2,I469/I219/I509,I219,303,1,51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300848,11,1,1,1,NaN,2,2020,8,4,20,...,1.0,NaN,NaN,NaN,1,J960/J189/U071,U071,109,1,10
300849,63,1,1,1,NaN,2,2020,8,7,30,...,1.0,NaN,NaN,NaN,1,U071/N179/E149/I119,U071,109,1,10
300850,5,360,3,1,NaN,2,2020,8,11,50,...,1.0,NaN,NaN,NaN,1,J960/J180/U071 J189,U071,109,1,10
300851,11,1,1,1,NaN,2,2020,10,17,45,...,1.0,NaN,NaN,NaN,1,R572/K650/K635,K635,609,1,68
300852,66,1,1,1,NaN,2,2020,10,18,35,...,1.0,NaN,NaN,NaN,1,E141/N390*E119 I10,E111,601,1,41

In [9]:
df_raw['EST_CIVIL'].unique()

array([1, 5, 3, 6, 9, 4, 2], dtype=int64)

In [6]:
df_raw.shape

(300853, 55)

In [8]:
df_raw.columns

Index(['COD_DPTO', 'COD_MUNIC', 'A_DEFUN', 'SIT_DEFUN', 'OTRSITIODE',
       'TIPO_DEFUN', 'ANO', 'MES', 'HORA', 'MINUTOS', 'SEXO', 'EST_CIVIL',
       'GRU_ED1', 'GRU_ED2', 'NIVEL_EDU', 'ULTCURFAL', 'MUERTEPORO',
       'SIMUERTEPO', 'OCUPACION', 'IDPERTET', 'CODPRES', 'CODPTORE',
       'CODMUNRE', 'AREA_RES', 'SEG_SOCIAL', 'IDADMISALUD', 'P_PMAN_IRIS',
       'CONS_EXP', 'MU_PARTO', 'T_PARTO', 'TIPO_EMB', 'T_GES', 'PESO_NAC',
       'EDAD_MADRE', 'N_HIJOSV', 'N_HIJOSM', 'EST_CIVM', 'NIV_EDUM',
       'ULTCURMAD', 'EMB_FAL', 'EMB_SEM', 'EMB_MES', 'CODOCUR', 'CODMUNOC',
       'C_MUERTE', 'C_MUERTEB', 'C_MUERTEC', 'C_MUERTED', 'C_MUERTEE',
       'ASIS_MED', 'CAUSA_MULT', 'C_BAS1', 'CAUSA_667', 'IDPROFCER',
       'CAU_HOMOL'],
      dtype='object')

In [18]:
df_raw.groupby(['COD_DPTO'])['ANO'].count().sort_values(ascending=False)

COD_DPTO
11    49783
5     40144
76    33535
8     20043
68    14705
25    13498
13    11967
54    10735
23    10614
73     9384
52     9306
66     7604
41     7582
15     6955
47     6953
17     6783
20     6690
19     6535
50     5919
70     5215
63     4619
44     2957
18     2283
85     1662
27     1573
86     1276
81     1216
91      328
88      287
95      259
99      194
94      144
97      105
Name: ANO, dtype: int64

In [33]:
suma = 0

col = 'SEXO'
val = [0, 0, 0]

datos = {'Masculino': [], 'Femenino': [], 'Indeterminado': [], 'AÃ±o': []}

for i in range(8, 10):
    # Read the .sav file
    df = pd.read_csv(f'./data/nofetal200{i}.csv',
                     sep=',',
                     encoding='latin-1')
    result = df.groupby([col])['ANO'].count().sort_values(ascending=False)
    val[0] = val[0] + result.values[0]
    val[1] = val[1] + result.values[1]
    val[2] = val[2] + result.values[2]
    
    datos['AÃ±o'].append(f'200{i}')
    datos['Masculino'].append(result.values[0])
    datos['Femenino'].append(result.values[1])
    datos['Indeterminado'].append(result.values[2])
    
    print(result[0:5])

for i in range(10, 22):
    # Read the .sav file
    df = pd.read_csv(f'./data/nofetal20{i}.csv',
                     sep=',',
                     encoding='latin-1')
    result = df.groupby([col])['ANO'].count().sort_values(ascending=False)
    val[0] = val[0] + result.values[0]
    val[1] = val[1] + result.values[1]
    val[2] = val[2] + result.values[2]
    
    datos['AÃ±o'].append(f'20{i}')
    datos['Masculino'].append(result.values[0])
    datos['Femenino'].append(result.values[1])
    datos['Indeterminado'].append(result.values[2])
    
    print(result)

print(val[0]/14, val[1]/14, val[2]/14)

C:\Users\diego\AppData\Local\Temp\ipykernel_8636\898579134.py:10: DtypeWarning: Columns (18,53,55,57,59,62) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f'./data/nofetal200{i}.csv',

SEXO
1    112519
2     84394
3        30
Name: ANO, dtype: int64
SEXO
1    113482
2     83449
3         2
Name: ANO, dtype: int64

C:\Users\diego\AppData\Local\Temp\ipykernel_8636\898579134.py:27: DtypeWarning: Columns (55,57,59,62) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f'./data/nofetal20{i}.csv',

SEXO
1    114264
2     86250
3        10
Name: ANO, dtype: int64
SEXO
1    111208
2     84590
3        25
Name: ANO, dtype: int64

C:\Users\diego\AppData\Local\Temp\ipykernel_8636\898579134.py:27: DtypeWarning: Columns (11,12,23,38,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f'./data/nofetal20{i}.csv',

SEXO
 Masculino       113055
 Femenino         86654
Indeterminado        47
Name: ANO, dtype: int64

C:\Users\diego\AppData\Local\Temp\ipykernel_8636\898579134.py:27: DtypeWarning: Columns (11,12,23,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f'./data/nofetal20{i}.csv',

SEXO
 Masculino       114703
 Femenino         88355
Indeterminado        13
Name: ANO, dtype: int64
SEXO
1    116380
2     93648
3        23
Name: ANO, dtype: int64

C:\Users\diego\AppData\Local\Temp\ipykernel_8636\898579134.py:27: DtypeWarning: Columns (62) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f'./data/nofetal20{i}.csv',

SEXO
1    121395
2     98037
3        40
Name: ANO, dtype: int64
SEXO
1    123806
2     99242
3        30
Name: ANO, dtype: int64

C:\Users\diego\AppData\Local\Temp\ipykernel_8636\898579134.py:27: DtypeWarning: Columns (62) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f'./data/nofetal20{i}.csv',

SEXO
1    125450
2    102119
3        55
Name: ANO, dtype: int64

C:\Users\diego\AppData\Local\Temp\ipykernel_8636\898579134.py:27: DtypeWarning: Columns (62) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f'./data/nofetal20{i}.csv',

SEXO
1    130776
2    106075
3        81
Name: ANO, dtype: int64
SEXO
1    134573
2    109689
3        93
Name: ANO, dtype: int64
SEXO
1    171481
2    129288
3        84
Name: ANO, dtype: int64
SEXO
1    205427
2    157596
3        66
Name: ANO, dtype: int64
129179.92857142857 100670.42857142857 42.785714285714285

In [40]:
pd.DataFrame(datos).to_excel('sexo.xlsx')